<!DOCTYPE html>
<html lang="en">
<head>
	<title>Verify Password</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/static/login_signup/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/login_signup/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/login_signup/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/login_signup/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/login_signup/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/static/login_signup/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/login_signup/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/login_signup/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/static/login_signup/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/login_signup/css/util.css">
	<link rel="stylesheet" type="text/css" href="/static/login_signup/css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url(/static/login_signup/images/bg-01.jpg);">
					<span class="login100-form-title-1">
						Verify Password
					</span>
				</div>

				<form class="login100-form" action='' method="post">
					{{ form.hidden_tag() }}
					<div class="wrap-input100 m-b-18">
						<span class="label-input100">Password</span>
						<input class="input100" type="password" name="password" placeholder="Enter password"> {% for error in form.password.errors %}
					    <span style="color: red;">[{{ error }}]</span> {% endfor %}
						<span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 m-b-18">
                        <span class="label-input100">Password</span>
                        <input class="input100" type="password" name="password2" placeholder="Confirm password"> {% for error in form.password2.errors %}
                        <span style="color: red;">[{{ error }}]</span> {% endfor %}
                        <span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 m-b-18">
                        <span class="label-input100">Confirm</span>
                        <input class="input100" type="text" name="confirm" placeholder="Confirm Text"> {% for error in form.confirm.errors %}
                        <span style="color: red;">[{{ error }}]</span> {% endfor %}
                        <span class="focus-input100"></span>
					</div>
					<div class="container-login100-form-btn">
						<button class="login100-form-btn" name='submit'>
                            Send
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
<!--===============================================================================================-->
	<script src="/static/login_signup/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/login_signup/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/login_signup/vendor/bootstrap/js/popper.js"></script>
	<script src="/static/login_signup/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/login_signup/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/login_signup/vendor/daterangepicker/moment.min.js"></script>
	<script src="/static/login_signup/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/static/login_signup/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/static/login_signup/js/main.js"></script>

</body>
</html>